body{
    margin:0;
    height: 100%;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
}

#header{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: blue;
}
#dashboard{
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: pink;
    height: 100vh;
}
#main{
    grid-column: 2/4 ;
    grid-row: 2/5;
    background-color: bisque;
}